body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.error {
    color: red;
}

nav {
	position: fixed;
	top: 0;
}

img {
    width: 100%;
}

.overlayButtons {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly; 
    align-items: center;
}

