{% extends "base.html" %}

{% block content %}
<div style="width: 100vw; display: block">
    <div style="float: left; left: 0; width: 50%;">
        {% if df %}
            {{ df.to_html() | safe }}
        {% endif %}    
        <br>
        {% if reply %}
            {{ reply }}
        {% endif %}
        <br>
        {% if current_weather %}
            {{ current_weather }}
        {% endif %}
        <br>
        
        <!--
        {% if geojson_data %}
            {{ geojson_data }}
        {% endif %}
        <br>
            {% if json_result %}
                {{ json_result }}
            {% endif %}
        -->
        <!-- {{ forecast_weather }} -->
        </div>
    <div style="float: right; right: 0; width: 50%">
        {% if map %}
            {{ map._repr_html_() | safe }}
        {% endif %}
    </div>
</div>
<!---->
<div style="width: 100%; height: 200px; border: 1px solid black; background-color: whitesmoke; display: flex; justify-content: space-between; position: fixed; left: 0; bottom: 0" id="todo">
    <div style="width: 100%; border: 1px solid black">

    </div>
</div>

{% endblock %}