{% extends "base.html" %}

{% block content %}

{% if map %}
    {{ map._repr_html_() | safe }}
{% endif %}

State:
<p id="title"></p>
<p id="features"></p>

<br> 

<p id="weather-city"></p>
<p id="weather-state"></p>

<br>

<p id="user_latitude">{{ user_latitude }}</p>
<p id="user_longitude">{{ user_longitude }}</p>

<button>What is my state?</button>

<script>
    $(document).ready(function(){
        $("button").click(function(){
        // const state = document.getElementById('weather-state').innerText
        let state = "WA"
        console.log(`My state is: ${state}`)

        $.get(`https://api.weather.gov/alerts/active?area=${state}`, function(data, status){
                document.getElementById('title').innerText = data['title']
                document.getElementById('features').innerText = data['features']
            });
        });
    });
</script>   

{% if weather_dict %}
    <img src="https://radar.weather.gov/ridge/standard/{{ weather_dict }}_loop.gif" alt="radar station">
{% endif %}

{% endblock %}