{% extends "base.html" %}

{% block content %}

<div style="text-align: center;">
  <h2>Cameras near {{ event_name }}</h2>
  <h3>Go to {{ event_name }}'s <a href="/events/forecast/{{ event_id }}">Forecast</a></h3>
  <h5>Go back to <a href="/events">All Events</a></h5>
</div>

<div id="cams_area" style="background-color: whitesmoke; color: black">
</div>

<script>
const KEY = {{ traffic_key | tojson }};
const DIST = 50;
const event_latitude = {{ event_latitude }}
const event_longitude = {{ event_longitude }}

$.ajax({
  url: `https://api.windy.com/api/webcams/v2/list/limit=50/nearby=${event_latitude},${event_longitude},${DIST}?key=${KEY}&show=webcams:location,image,url`,
  type: "GET",
  success: function(response) {
    console.log("success", response.result.webcams);

    document.getElementById('cams_area').innerHTML
    = response.result.webcams.map(v =>  
      `<div class="card-deck" style="display: inline-block; flex-direction: row; gap: 1em; align-items: center; justify-content: center; margin-left: 50px">
        <div class="cameraCard">
          <img src=${v.image.current.preview} class="card-img-top" width="500px" alt="camera" style="border: 1px solid maroon; border-radius: 10px">
          <div class="card-body" style="color: black">
            <h5 class="card-title">${v.title}</h5>
            <p class="card-text">
              ${v.location.city}, ${v.location.region}, ${v.location.country}
              <br>
            </div>
          </div>
        </div>`
      )
  },
  error: function(xhr) {
    console.log("error", xhr)
  }
});
</script>
{% endblock %}