{% extends "base.html" %}

{% block content %}

<h2>Nearby Cameras</h2>
<div id="cams_area">
</div>

<script type="text/javascript">   
const KEY = {{ traffic_key | tojson }};
const DIST = 50;
const event_latitude = {{ event_latitude }}
const event_longitude = {{ event_longitude }}

async function getLiveCams(
    lat,
    lng,
    dist,
    key) {
  const url = `https://api.windy.com/api/webcams/v2/list/limit=50/nearby=${lat},${lng},${dist}?key=${key}&show=webcams:location,image,url`;
  let resp = await fetch(url);

  let cam_data = await resp.json();

  return cam_data.result.webcams;
}

const cameras = getLiveCams(event_latitude, event_longitude, 50, KEY)
.then(value => document.getElementById('cams_area').innerHTML = value.map(v =>  
`<div class="card-deck" style="display:inline-block; gap: 4px; justify-content: center; align-items: center">
  <div class="cameraCard">
    <img src=${v.image.current.preview} class="card-img-top" height="${v.image.sizes.preview.height}" width="${v.image.sizes.preview.width}" alt="camera">
    <div class="card-body">
      <h5 class="card-title">${v.title}</h5>
      <p class="card-text">
        ${v.location.city}, ${v.location.region}, ${v.location.country}
        <br>
        <p id="latitude">${v.location.latitude}</p>
        <p id="longitude">${v.location.longitude}</p>
        ${v.status}
      </p>
      </div>
      <div class="card-footer">
          <small class="text-muted">
            <a href=${v.url.current.desktop} target="_blank">See More of camera ${v.id}
            </a>
        </small>
      </div>
    </div>
    <hr>
  </div>`
));
</script>

{% endblock %}