{% extends "base.html" %}

{% block content %}
<!-- Plotting the Optimal Route for Data Scientists in Python using the Dijkstra Algorithm -->
<div style="width: 100vw; display: block">
    <div style="float: left; left: 0; width: 50%;">
        {% if df %}
            {{ df.to_html() | safe }}
        {% endif %}    
        <br>
        {% if reply %}
        <div class="cards">
            {% for key, value in reply.items() %}
                <div class="card">
                        <p><i>{{ key }}</i></p>
                        <h3><em>{{ value }}</em></h3>
                </div>
            {% endfor %}
        {% endif %}
        {% if current_weather %}
            {% for key, value in current_weather.items() %}
                <div class="card">
                    <p><i>{{ key }}</i></p>
                    <h3><em>{{ value }}</em></h3>
                </div>
            {% endfor %}
        {% endif %}
        <br>
        </div>      
        <!-- {{ forecast_weather }} -->
        </div>
    <div style="float: right; width: 50%">
       {% if map %}
        <div class="cards">
            <div class="card" style="float: right; right: 10px; width: 40vw; height: 500px">
                {{ map._repr_html_() | safe }}

                {% if parent_office_dict %}
                <ul style="font-size: 16px; list-style-type: none; float:left; left: 0;">
                    {% for i in parent_office_dict %}
                <li>{{ i['streetAddress'] }}</li>
                <li>{{ i['addressLocality'] }} {{ i['addressRegion'] }} {{ i['postalCode'] }}</li>
                    {% endfor %}
                    <li>{{ parent_office_dict[-2] }}</li>
                    <li>{{ parent_office_dict[-1] }}</li>
                </ul>
                {% endif %}


                {% if office_dict %}
                <ul style="font-size: 16px; list-style-type: none; float:right; right: 0;">
                    {% for i in office_dict %}
                <li>{{ i['streetAddress'] }}</li>
                <li>{{ i['addressLocality'] }} {{ i['addressRegion'] }} {{ i['postalCode'] }}</li>
                    {% endfor %}
                    <li>{{ office_dict[-2] }}</li>
                    <li>{{ office_dict[-1] }}</li>
                </ul>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% if day_dict %}
<div class="forecast_tab">
    <button class="tablinks" onclick="openForecastTab(event, 'Day')" id="defaultTab">Day</button>
    <button class="tablinks" onclick="openForecastTab(event, 'Night')">Night</button>
</div>

  <div id="Day" class="forecast_tabcontent">
    <span onclick="this.parentElement.style.display='none'" class="closeTab">&times</span>
    <h3>DayTime</h3>
    
    <ul style="list-style-type: none;">
    {% for key, value in day_dict.items() %}
            <li><b>{{ value['name'] }}</b></li>
            <ul style="list-style-type: none;">
                <li>{{ value['detailedForecast'] }}</li>
            </ul>
            <br>
    {% endfor %}
    </ul>

    <div style="width: 100%; display: flex; flex: wrap; justify-content: space-evenly;">
        {% for key, value in day_dict.items() %}
        <div style="width: 10%; height: 200px; border: 1px solid black; background-color: whitesmoke;" id="todo">       
            {% if value['name'] is defined %}
                {{ value['name'] }}
            {% endif %}
            <br>
            <div class="imgContainer">
                <img style="opacity: 40%" src="{{value['icon']}}" alt="weather_pic" />
                <br>
                {{ value['temperature'] }} {{ value['temperatureUnit'] }} - {{ value['temperatureTrend'] }}
                <br>
                {{ value['windSpeed'] }} {{ value['windDirection'] }}
                <br>
                {% if value['probabilityOfPrecipitation']['value'] is defined %}
                    {{ value['probabilityOfPrecipitation']['value'] }} 
                {% endif %}
                {% if value['probabilityOfPrecipitation'] is defined %}
                    {{ value['probabilityOfPrecipitation']['unitCode'][1] }}
                {% endif %}
                <br>
                {{ value['relativeHumidity']['value'] }} {{ value['relativeHumidity']['unitCode'][1] }} 
            </div> 
            </div>
        {% endfor %}
        </div>
  </div>
{% endif %}

{% if night_dict %}
<div id="Night" class="forecast_tabcontent">
    <span onclick="this.parentElement.style.display='none'" class="closeTab">&times</span>
    <h3>NightTime</h3>

    <ul style="list-style-type: none;">
        {% for key, value in night_dict.items() %}
                <li><b>{{ value['name'] }}</b></li>
                <ul style="list-style-type: none;">
                    <li>{{ value['detailedForecast'] }}</li>
                </ul>
                <br>
        {% endfor %}
    </ul>

    <div style="width: 100%; display: flex; flex: wrap; justify-content: space-evenly;">
        {% for key, value in night_dict.items() %}
        <div style="width: 10%; height: 200px; border: 1px solid black; background-color: whitesmoke;" id="todo">       
            <div class="imgContainer">
                <img style="opacity: 50%" src="{{value['icon']}}" alt="weather_pic" />
                {{ value['name'] }}
                <br>
                {{ value['temperature'] }} {{ value['temperatureUnit'] }} - {{ value['temperatureTrend'] }}
                <br>
                {{ value['windSpeed'] }} {{ value['windDirection'] }}
                <br>
                {% if value['probabilityOfPrecipitation']['value'] is defined %}
                    {{ value['probabilityOfPrecipitation']['value'] }} 
                {% endif %}
                {% if value['probabilityOfPrecipitation'] is defined %}
                    {{ value['probabilityOfPrecipitation']['unitCode'][1] }}
                {% endif %}                
                <br>
                {{ value['relativeHumidity']['value'] }} {{ value['relativeHumidity']['unitCode'][1] }} 
            </div> 
            </div>
        {% endfor %}
        </div>
  </div>
{% endif %}

<script>
    function openForecastTab(e, forecastTime) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("forecast_tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(forecastTime).style.display = "block";
      e.currentTarget.className += " active";
    }
    
    document.getElementById("defaultTab").click();
</script>

{% endblock %}